* {
  margin: 0;
}

header {
  text-align: center;
  margin-top: 3em;
}

h1 {
  font-size: 30pt;
}

#container {
  background-color: pink;
  height: 100%;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
}

input {
  background-color: #ffe5ec;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: 20%;
}

#addTaskButton {
  height: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.whiteButton {
  background-color: #ffe5ec;
  height: 34px;
  width: 45px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 20%;
}
